<%- include("header") -%>

<h1 class="about-us-header">About Us</h1>

<div class="mission">
  <h3>Our Mission: To promote a culture of better mental health by developing
    tools to help assess one's meditation sessions.</h3>
</div>

<div class="about row">
  <div class="col-lg-4">
    <div class="founder">
      <img class="aboutMe-image" src="images/coding.png" alt="">
    </div>
  </div>

  <div class="founder-text col-lg-4">
    <p>Meet MegzMugz... the founder of Medjo. MegzMugz is an avid developer, runner, and a big proponent of great mental health.
      MegzMugz started meditating in the spring of 2022 and has since continued the habit. MegzMugz is now using is love of meditation and
      development to create products to help others improve their mental health.</p>
  </div>

</div>



<%- include("footer") -%>
