<%- include("header") -%>

  <div class="box" id="heading">
    <h1 class="header-font"> Med-jo :)</h1>
  </div>

  <h3 class="description">meditation journaling made easy </h3>


  <div class="home-buttons">
    <a href="/pastJournals" class="btn btn-dark btn-outline-light buttons">Past Journals</a>
    <a href="/compose" class="btn btn-dark btn-outline-light buttons">Compose</a>
    <a href="/about" class="btn btn-dark btn-outline-light buttons">About</a>
  </div>


<%- include("footer") -%>
